{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is about page</h1>
            <p>This came from template: {{index .StringMap "test"}}</p>

            <p>
             {{ if ne (index .StringMap "remote_ip") ""}}
                Your remote IP address is {{ index .StringMap "remote_ip" }}
             {{ else }}
                I dont no your IP address, visit home page
             {{end}}
            </p>
        </div>
    </div>
</div>
{{end}}